
*{
    margin: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color:rgb(73, 73, 73);
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.calculator{
    border: 5px solid white;
    padding: 50px;
    background-color:black;
    border-radius: 50px;
    text-align: center;
}

.input-display{
    width: 400px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgb(127, 255, 148) ;
    border: 5px solid white;
    border-radius: 19px;
    text-align: right;
    font-size: 4rem;
    font-weight: bolder;
    color: gray;
}

.buttons{
    display: grid;
}

.button{
    font-size: 3rem;
    font-weight: 900;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 15px 0;
    border: 2px solid white;
    background: rgb(0, 255, 128);
    color: black;
    border-radius: 50%;
}

.operators{
    background-color: goldenrod;
}

button:hover{
    background-color: black;
    color: white;
    border:3px solid rgb(73, 73, 73);
}

button:active{
    background-color: rgb(0, 196, 98);;
    color:black;
    border-color: white;
}